
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
	height:100vh;
	font-family: 'Poppins', sans-serif;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
nav{
	padding: 0 0px;
	transition: 0.3s;
	font-size:18px;
  
	}
.flex{
	display: flex;
	justify-content:space-between;
	align-items: center;
	
}
.one{
	background-color:black;
	color:hsl(52, 91%, 43%);
	height:50px;
	cursor:pointer;
	padding-right:15px;
	padding-left:15px;
	width:90%;
}
.two a:hover,
.two span:hover,
.one ul li a:hover,
.two span:active,
.one ul li a:active
{
	color:white;
}
.one ul li a .activate
{
	color: hsl(52, 91%, 43%);
	border:2px solid hsl(52, 91%, 43%);
  border-radius: 30px;
}

.two a{
	color:black;
	text-decoration:none;
}
.two{
	padding-left:15px;
  padding-right: 10px;
	height:80px;
	color:black;
	top:0;
}
.logo{
	font-size:50px;
	cursor:pointer;
	color:transparent;
	-webkit-text-stroke: 1px black;
	padding-left:15px;
	font-family:Bodoni MT Black;
	background: url(an.jpeg);
	-webkit-background-clip:text;
	background-position:0 0;
	animation: back 20s linear infinite;
}
.logo ion-icon{
  color: black;
}
@keyframes back{
	100%{
	background-position:2000px 0;}
}

.lg{
	font-size:18px;
	padding-left:67px;
}
li{
	list-style:none;
}
.one ul li a{
	text-decoration:none;
	text-transform: capitalize;
	font-size: 16px;
	margin-left:30px;
	color:hsl(52, 91%, 43%) ;
	font-weight:400;	
}
.bg{
	width:100%;
	background-color:hsl(52, 91%, 43%) ;
  position: fixed;
  z-index: 100;
}
.search-bar{
	background-color:hsl(52, 91%, 43%);
	height:15px;
	border-radius:30px;
	padding: 10px;
	padding-top:1px;
}
.search-input{
	border:none;
	background:none;
	outline:none;
	font-size:0.8em;
	line-height:10px;
	letter-spacing:1px;
	padding:0;
	width:0;
	transition:0.4s;
}
.search-button{
	width:30px;
	height:20px;
	border-radius:25px;
	border:none;
	background-color:black;
	color:hsl(52, 91%, 43%);
}
.search-bar:hover .search-input{
	width:150px;
	padding: 0 10px;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height:70%;
  font-family: 'Times New Roman';
  align-items: center;
  text-align: center;
  position: relative;
  top:14%;
}

.text {
  color:white;
  font-size: 45px;
  position: absolute;
  bottom: 8px;
  top: 200px;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  font-weight:bold;
  text-shadow: 1.5px 1.5px black;
  font-family: 'Times New Roman';
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: white;
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slideshow-container .mySlides .text #textstyle{
	font-family:'Times New Roman';
	font-size:100px;
	color: hsl(52, 91%, 43%);
	text-shadow: 2.5px 2.5px black;
  text-align: center;
  align-items: center;
}
.item-1{
	animation-name: anim-1;
	animation-duration: 6s;
  text-align: center;
}
@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}
.tableitems{
	width:100%;
	height:60%;}
.tableitems .title{
	color:transparent;
	-webkit-text-stroke: 1px black;
	font-family:Bodoni MT Black;
	background: url(back.png);
	-webkit-background-clip:text;
	background-position:0 0;
	animation: back 20s linear infinite;
}
.tableitems .title,
.tableitems .title1{
	font-size:30px;
	font-weight:bold;

}
.tableitems .title1{
	font-family: 'Poppins', sans-serif;
  text-align: center;
}

.tableitems .no1,
.tableitems .no2{
	font-size:15px;
	text-align:center;
	width:25%;
}
.tableitems .no1{
	background-color:black;
	color:hsl(52, 91%, 43%);
	border: 1px solid black;
}
.tableitems .no2{
	background-color:hsl(52, 91%, 43%);
	color:black;
	border: 1px solid hsl(52, 91%, 43%);
}
.tableitems2{
	width: 100%;
	padding:5% 5% 0% 5%;
}
.tableitems2 .data2{
	font-size:20px;
	width:60%;
	text-align:center;
}
.tableitems2 .data2 .t1,
h1{
	font-size:50px;
	font-weight:bold;
	color:hsl(241, 97%, 24%);
}
.tableitems2 .data2 .t2,
h2{
	font-size:35px;
	color:hsl(52, 91%, 43%);
}
.tableitems2 .data1{
	align-items:right;
	width:30%;
}

.scroll-animation {
  opacity: 0;
  transform: translateY(50px);
}

.scroll-animation.animate {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.scroll-left-animation {
  opacity: 0;
  transform: translateX(50px);
}

.scroll-left-animation.animate {
  animation: fadeInRight 1s ease-out forwards;
}

@keyframes fadeInRight {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.scroll-right-animation {
  opacity: 0;
  transform: translateX(-50px);
}

.scroll-right-animation.animate {
  animation: fadeInLeft 1s ease-out forwards;
}

@keyframes fadeInLeft {
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}




#company{
	font-size:20px;
	color:black;
	height:240px;
	font-weight:bold;
	border:10px solid Black;
  border-width: 4px 0;
  background-color: hsl(52, 91%, 43%);
}
#company .mission{
	font-size:30px;
	color:hsl(241, 97%, 24%);
	text-transform: capitalize;
}
.ftable{
	font-size:18px;
	background:black;
	color:white;
	padding: 5% 5% 5% 5%;
  width: 100%;
}
.ftable th{
	font-size:20px;
	color:hsl(52, 91%, 43%);
	text-decoration:underline;
	text-align:left;
	height:25px;
	padding-top:5px;
}
.ftable .length{
	width:35%;
}
.ftable .h:hover,
.ftable .fh ul li:hover,
.ftable a:hover
{
	color:hsl(52, 91%, 43%);
}
.ftable .fh{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top:10px;
}
.ftable .fh ul li{
	display:inline;
}
.ftable .h{
	padding-top:20px;
}
.ftable a{
	color:white;
	text-decoration:none;
}
.ser{
	width:80%;
	height:100px;
	align-items:center;
	padding-bottom:10px;
}
.service {
  position: relative;
  width: 100%;
}

.img {
  display: block;
  width: 100%;
  height:100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
}

.service:hover .overlay {
  opacity: 1;
}


.Se-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.Se-text .s1{
	font-size:20px;
	font-weight:bold;
}
#FAQ, #FAQ2 ,#FAQ3{
  text-shadow: 1.5px 1.5px black;
}
.QandA{
	/* width:90%; */
}
.QandA tr td{
	height:60px;
}
.QandA button{
	width:100%;
	height:40px;
	border:none;
	background-color:black;
	color:hsl(52, 91%, 43%);
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.QandA{
display: flex;
justify-content: center;
flex-direction: column;
}
hr{
  width: 60%;
  margin: auto; 
}
.faq-page {
	color:hsl(241, 97%, 24%);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
	font-size:20px;
	font-weight:bold;
}
.faq-body{
   margin: auto;
   width: 50%; 
   padding: auto;
   color:black;
}
.active,
.faq-page:hover {
	background-color:hsl(52, 91%, 43%);
}
.faq-body {
    padding: 0 18px;
	background-color:white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    font-size: 8px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
}
.contact input[type=text], input[type=Email], select, textarea {
  width: 80%;
  padding: 12px;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color:hsl(52, 91%, 43%);
}
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact {
  border-radius: 5px;
  background-color:hsl(52, 91%, 43%);
  padding: 20px;
  width:80%;
}

.contact ::placeholder {
  color: white;
  font-size:20px;
  font-weight:bold;
  font-family: 'Poppins', sans-serif;
}
.contact select, option{
	color :black;
	font-weight:bold;
	font-size:20px;
	font-family: 'Poppins', sans-serif;
}
.autoincrease {
  position: absolute;
  width: 80vw;
  transform:  translate(-50%, -50%);
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  padding: 2em 0;
  flex-wrap: wrap;
  align-items: center;
  background-color: #21242b;
  border-radius: 0.5em;
  border-bottom: 10px solid hsl(52, 91%, 43%);
  box-shadow: 1px 1px 10px 1px hsl(241, 97%, 24%);
  color:hsl(52, 91%, 43%);
  background-image: linear-gradient(45deg, hsl(241, 97%, 24%), hsl(241, 97%, 24%) 50%, hsl(52, 91%, 43%) 50% , hsl(52, 91%, 43%) 100%);
}

.tips,
.tips1 {
  width: 28vmin;
  height: 20vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 18px;
  border-radius: 0.5em;
  background-color: #21242b;
  border-bottom: 10px solid hsl(52, 91%, 43%);
}
.tips1{
  border-bottom: 10px solid hsl(241, 97%, 24%);
}

.tips i{
  color: hsl(52, 91%, 43%);
  font-size: 2.5em;
  text-align: center;

}
.tips1 i{
  font-size: 2.5em;
  text-align: center;
}

span.inc_num {
  color: #fff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
  color:hsl(52, 91%, 43%);
}

span.ht {
  color: #e0e0e0;
  font-size: 1.1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
  color: hsl(52, 91%, 43%);
}

@media screen and (max-width:1024px) {
  .autoincrease {
    width: 85vw;
  }
  .tips {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
  .bg{
    width:100%;
  }
  .bg {
    width: 100%;
  }

  .logo {
    padding-top: 85px;
    font-size: 40px;
  }

  .lg {
    visibility: hidden;
  }
  .two {
    padding-bottom: 40px;
  }

  .hover{
    visibility: hidden;
  }

  .slideshow-container {
    height: 10%;
  }

  .email, .call , .twitter, .facebook{
    visibility: hidden;
  }

  .text {
    color:white;
    font-size: 4px;
    position: absolute;
    bottom: 8px;
    top: 15px;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    align-items: center;
    font-weight:bold;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Times New Roman';
  }

  .slideshow-container .mySlides .text #textstyle {
    font-size: 5vw;
  }

  .WCU {
    text-align: center;
  }

  .slide-font {
    font-size: 5vw;
    color:white;
    position: absolute;
    visibility: visible;
    bottom: 8px;
    top: 105px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    font-weight:bold;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Times New Roman';
  }

  .autoincrease{
    gap: 15px;
  }

  .tips {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  .autoincrease{
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }

  .tips {
    width: calc(50% -40px);
    height: 30vmin;
    font-size: 13px;
  }
  .bg{
    width:100%;
  }
  .bg {
    width: 100%;
  }

  .logo {
    padding-top: 85px;
    font-size: 40px;
  }

  .lg {
    visibility: hidden;
  }
  .two {
    padding-bottom: 40px;
  }

  .hover{
    visibility: hidden;
  }

  .slideshow-container {
    height: 10%;
  }

  .email, .call , .twitter, .facebook{
    visibility: hidden;
  }

  .text {
    color:white;
    font-size: 4px;
    position: absolute;
    bottom: 8px;
    top: 15px;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    align-items: center;
    font-weight:bold;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Times New Roman';
  }

  .slideshow-container .mySlides .text #textstyle {
    font-size: 5vw;
  }

  .WCU {
    text-align: center;
  }

  .slide-font {
    font-size: 5vw;
    color:white;
    position: absolute;
    visibility: visible;
    bottom: 8px;
    top: 105px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    font-weight:bold;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Times New Roman';
  }

  .autoincrease{
    gap: 15px;
  }

  .tips {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }

}
@media screen and (max-width: 480px) {
  .bg {
    width: 100%;
  }

  .logo {
    padding-top: 85px;
    font-size: 40px;
  }

  .lg {
    visibility: hidden;
  }
  .two {
    padding-bottom: 40px;
  }

  .hover{
    visibility: hidden;
  }

  .slideshow-container {
    height: 10%;
  }

  .email, .call , .twitter, .facebook{
    visibility: hidden;
  }

  .text {
    color:white;
    font-size: 4px;
    position: absolute;
    bottom: 8px;
    top: 15px;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    align-items: center;
    font-weight:bold;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Times New Roman';
  }

  .slideshow-container .mySlides .text #textstyle {
    font-size: 5vw;
  }

  .WCU {
    text-align: center;
  }

  .slide-font {
    font-size: 5vw;
    color:white;
    position: absolute;
    visibility: visible;
    bottom: 8px;
    top: 105px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    font-weight:bold;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Times New Roman';
  }

  .autoincrease{
    gap: 15px;
  }

  .tips {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }

}
.drop ,
.drop1{
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content,
.dropdown-content1 {
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 1s ease-in-out;
  visibility: hidden; /* hides sub-menu */
  transform: translateY(-2em);
  }

.dropdown-content a,
.dropdown-content1 a {
  float: none;
  color: hsl(52, 91%, 43%);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover ,
.dropdown-content1 a:hover{
  background-color: hsl(52, 91%, 43%);
  color: black;
}

.drop:focus .dropdown-content,
.drop:focus-within .dropdown-content,
.drop:hover .dropdown-content,
.drop1:focus .dropdown-content1,
.drop1:focus-within .dropdown-content1,
.drop1:hover .dropdown-content1{
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}

@media screen and (max-width: 600px) {
  .dropdown .dropbtn {
    display: none;
  }
 
}

@media screen and (max-width: 600px) {

   .dropdown {float: none;}
   .dropdown-content {position: relative;}
   .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .bg{
    width: 100%;
  }
  .bg {
    width: 100%;
  }

  .logo {
    padding-top: 85px;
    font-size: 40px;
  }

  .lg {
    visibility: hidden;
  }
  .two {
    padding-bottom: 40px;
  }

  .hover{
    visibility: hidden;
  }

  .slideshow-container {
    height: 10%;
  }

  .email, .call , .twitter, .facebook{
    visibility: hidden;
  }

  .text {
    color:white;
    font-size: 4px;
    position: absolute;
    bottom: 8px;
    top: 15px;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    align-items: center;
    font-weight:bold;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Times New Roman';
  }

  .slideshow-container .mySlides .text #textstyle {
    font-size: 5vw;
  }

  .WCU {
    text-align: center;
  }

  .slide-font {
    font-size: 5vw;
    color:white;
    position: absolute;
    visibility: visible;
    bottom: 8px;
    top: 105px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    font-weight:bold;
    text-shadow: 1.5px 1.5px black;
    font-family: 'Times New Roman';
  }

  .autoincrease{
    gap: 15px;
  }

  .tips {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }

}
